<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trabalho Acadêmico Não Encontrado</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Trabalho Acadêmico Não Encontrado</h1>
        <p>Desculpe, o trabalho acadêmico que você está procurando não existe ou foi removido.</p>
        <a href="/academicWorks" class="btn">Voltar para trabalhos acadêmicos</a>
        <a href="/home" class="btn">Voltar para principal</a>
    </div>
</body>
</html>