<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Documento Não Encontrada</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Documento Não Encontrado</h1>
        <p>Desculpe, o documento que você está procurando não existe ou foi removido.</p>
        <a href="/documents" class="btn">Voltar para documentos</a>
        <a href="/home" class="btn">Voltar para princial</a>
    </div>
</body>
</html>