<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo à Página Inicial</h1>
    <h2>Índice</h2>
    <ul>
        <li><a href="/documents">Documentos</a></li>
        <li><a href="/tasks">Tarefas</a></li>
        <li><a href="/people">Pessoas</a></li>
        <li><a href="/academicWorks">Trabalhos Acadêmicos</a></li>
    </ul>
</body>
</html>