<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pessoa Não Encontrada</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Pessoa Não Encontrada</h1>
        <p>Desculpe, a pessoa que você está procurando não existe ou foi removida.</p>
        <a href="/people" class="btn">Voltar para pessoas</a>
        <a href="/home" class="btn">Voltar para principal</a>
    </div>
</body>
</html>