<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tarefa Não Encontrada</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Tarefa Não Encontrada</h1>
        <p>Desculpe, a tarefa que você está procurando não existe ou foi removida.</p>
        <a href="/tasks" class="btn">Voltar para Tarefas</a>
        <a href="/home" class="btn">Voltar para princial</a>
    </div>
</body>
</html>