<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${task.id != 0} ? 'Editar Tarefa' : 'Criar Nova Tarefa'">Formulário de Tarefa</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1 th:text="${task.id != 0} ? 'Editar Tarefa' : 'Criar Nova Tarefa'">Formulário de Tarefa</h1>
    </header>

    <section>
        <form th:action="@{${task.id != 0} ? '/tasks/update/' + ${task.id} : '/tasks'}" th:object="${task}" method="post">
            <div>
                <label for="title">Título:</label>
                <input type="text" id="title" name="title" th:field="*{title}" maxlength="100" required />
                <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
            </div>
            <div>
                <label for="description">Descrição:</label>
                <textarea id="description" name="description" th:field="*{description}" maxlength="2500" required></textarea>
                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            </div>
            <div>
                <label for="status">Status:</label>
                <select id="status" name="status" th:field="*{status}" required>
                    <option value="" disabled th:if="${task.status == null}">Selecione um status</option>
                    <option th:each="status : ${T(com.GerenciadorTCC.entities.TaskStatus).values()}" th:value="${status.name()}" th:text="${status.description}"></option>
                </select>
                <div th:if="${#fields.hasErrors('status')}" th:errors="*{status}"></div>
            </div>
            <div>
                <label for="deadline">Prazo:</label>
                <input type="date" id="deadline" name="deadline" th:field="*{deadline}" th:value="${task.deadline}" required />
                <div th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}"></div>
            </div>
            <div>
                <label for="academicWork">Trabalho Acadêmico:</label>
                <select id="academicWork" name="academicWorkId" required>
                    <option value="" disabled selected>Selecione um trabalho acadêmico</option>
                    <option th:each="academicWork : ${academicWorks}" th:value="${academicWork.id}" th:text="${academicWork.title}"></option>
                </select>
            </div>
            <div>
                <button type="submit" th:if="${task.id != 0}" th:text="'Atualizar'">Atualizar</button>
                <button type="submit" th:if="${task.id == 0}" th:text="'Criar'">Criar</button>
            </div>
        </form>

        <a th:href="@{/tasks}" class="btn btn-secondary">Voltar para Lista de Tarefas</a>
    </section>
</body>
</html>
