<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Lista de Tarefas</h1>        
        <a th:href="@{/home/}" class="btn btn-primary">Voltar</a>
        <a th:href="@{/tasks/new}" class="btn btn-primary">Criar Nova Tarefa</a>
    </header>
    
    <section>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Data Final</th>
                    <th>Trabalho Acadêmico</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task : ${tasks}">
                    <td th:text="${task.id}"></td>
                    <td th:text="${task.title}"></td>
                    <td th:text="${task.description}"></td>
                    <td th:text="${task.status}"></td>
                    <td th:text="${task.deadline}"></td>
                    <td th:text="${task.academicWork.title}"></td>
                    <td>
                        <a th:href="@{/tasks/edit/{id}(id=${task.id})}" class="btn btn-secondary">Editar</a>
                        <a th:href="@{/tasks/delete/{id}(id=${task.id})}" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>
</html>